{% extends 'admin_base.html' %}
{% block title %} Dashboard {% endblock %}

{% block body %}
{% load static %}
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">User Lists</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-view">
                            <table class="data-tables table movie_table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Username</th>
                                        <th style="width: 10%;">Email</th>
                                        <th style="width: 10%;">Phone Number</th>
                                        <th style="width: 10%;">Is Active</th>
                                        <th style="width: 10%;">Is Staff</th>
                                        <th style="width: 10%;">Date Joined</th>
                                        <th style="width: 10%;">Last Login</th>
                                        <th style="width: 10%;">Last Logout</th>
                                        <th style="width: 10%;">Duration</th>
                                        <th style="width: 10%;">Status</th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone_number }}</td>
                                        <td>{{ user.is_active }}</td>
                                        <td>{{ user.is_staff }}</td>
                                        <td>{{ user.formatted_date_joined }}</td>
                                        <td>{{ user.formatted_last_login }}</td>
                                        <td>{{ user.formatted_last_logout }}</td>
                                        <td>{{ user.get_duration }}</td>
                                        <td>{{ user.get_status }}</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="Edit" href="#">
                                                    <i class="ri-pencil-line"></i>
                                                </a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="Delete" href="#">
                                                    <i class="ri-delete-bin-line"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
