<!-- Sidebar-->
<div class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
     <a href="index.html" class="header-logo">
        <img src="../assets/images/logo.png" class="img-fluid rounded-normal" alt="">
        <div class="logo-title">
           <span class="text-primary text-uppercase">Streamit</span>
        </div>
     </a>
     <div class="iq-menu-bt-sidebar">
        <div class="iq-menu-bt align-self-center">
           <div class="wrapper-menu">
              <div class="main-circle"><i class="las la-bars"></i></div>
           </div>
        </div>
     </div>
  </div>
  <div id="sidebar-scrollbar">
     <nav class="iq-sidebar-menu">
        <ul id="iq-sidebar-toggle" class="iq-menu">
           <li><a href="/" class="text-primary"><i class="ri-arrow-right-line"></i><span>Visit site</span></a></li>
           <li class="active active-menu"><a href="/myadmin/dashboard/" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Dashboard</span></a></li>
           <li><a href="/myadmin/users/" class="iq-waves-effect"><i class="las la-user-friends"></i><span>Users List</span></a></li>
           <li><a href="/myadmin/category/" class="iq-waves-effect"><i class="las la-folder-open"></i><span>Categorys Lists</span></a></li>
           <li><a href="/myadmin/videos/" class="iq-waves-effect"><i class="las la-film"></i><span>Videos Lists</span></a></li>

           <li><a href="pages-pricing.html" class="iq-waves-effect"><i class="ri-price-tag-line"></i><span>Pricing</span></a></li>


           <li>
              <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-file-alt iq-arrow-left"></i><span>Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                 <li>
                    <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="authentication" class="iq-submenu collapse" data-parent="#pages">
                       <li><a href="sign-in.html"><i class="las la-sign-in-alt"></i>Login</a></li>
                       <li><a href="sign-up.html"><i class="ri-login-circle-line"></i>Register</a></li>
                       <li><a href="pages-recoverpw.html"><i class="ri-record-mail-line"></i>Recover Password</a></li>
                       <li><a href="pages-confirm-mail.html"><i class="ri-file-code-line"></i>Confirm Mail</a></li>
                       <li><a href="pages-lock-screen.html"><i class="ri-lock-line"></i>Lock Screen</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#extra-pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pantone-line"></i><span>Extra Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="extra-pages" class="iq-submenu collapse" data-parent="#pages">
                       <li><a href="pages-timeline.html"><i class="ri-map-pin-time-line"></i>Timeline</a></li>
                       <li><a href="pages-invoice.html"><i class="ri-question-answer-line"></i>Invoice</a></li>
                       <li><a href="blank-page.html"><i class="ri-invision-line"></i>Blank Page</a></li>
                       <li><a href="pages-error.html"><i class="ri-error-warning-line"></i>Error 404</a></li>
                       <li><a href="pages-error-500.html"><i class="ri-error-warning-line"></i>Error 500</a></li>
                    
                       <li><a href="pages-maintenance.html"><i class="ri-archive-line"></i>Maintenance</a></li>
                       <li><a href="pages-comingsoon.html"><i class="ri-mastercard-line"></i>Coming Soon</a></li>
                       <li><a href="pages-faq.html"><i class="ri-compasses-line"></i>Faq</a></li>
                    </ul>
                 </li>
              </ul>
           </li>
        </ul>
     </nav>
  </div>
</div>